@import "../../assets/styles/variables";

.news {
  margin-top: 4rem;
  align-items: center;
  justify-content: space-between;

  &__left-side {
    width: calc((100% - 3rem) / 2);
  }

  &__right-side {
    width: calc((100% - 3rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (max-width: 550px) {
    &__left-side {
      width: 100%;
      margin-bottom: 2rem;
    }
    &__right-side {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

.single-news {
  position: relative;
  cursor: pointer;

  &--big {
  }

  &--medium {
    margin-bottom: 2.5rem;
  }

  &--small {
    width: calc((100% - 3rem) / 2);
    height: calc((100% - 3rem) / 2);
  }

  &__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__gradient {
    background-image: linear-gradient(to top, $color-black, transparent);
    border-radius: 10px;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  &__image {
    width: 100%;
  }

  &__info {
    padding: 1.5rem 3rem;
    position: absolute;
    bottom: 1.5rem;
  }

  &__title {
    &--big {
      font-size: 2.3rem;
      color: $color-white;
    }
    &--small {
      font-size: 1.3rem;
      color: $color-white;
      font-weight: 600;
    }
  }

  &__desc {
    display: flex;
    color: $color-grey-light;
    margin-top: 1.5rem;
    font-size: 1.3rem;
  }

  &__icon {
    margin-right: 1.5rem;
  }

  @media screen and (max-width: 1140px) {
    &__info {
      padding: 1rem 1.5rem;
    }

    &__title {
      &--big {
        font-size: 1.8rem;
      }
      &--small {
        font-size: 1rem;
      }
    }

    &__desc {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 550px) {
    &__info {
      padding: 0.5rem 1rem;
    }

    &__title {
      &--big {
        font-size: 1.5rem;
      }
      &--small {
        font-size: 1rem;
      }
    }

    &__desc {
      margin-top: 0.5rem;
      font-size: 0.7rem;
    }
  }
}
