@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.align-self {
  align-self: stretch;
}

.news {
  margin-top: 4rem;
}

.single-news {
  position: relative;
  cursor: pointer;
  border-radius: 1rem;

  // &:hover {
  //   box-shadow: 0 0.8rem 1.2rem $color-black;
  // }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__gradient {
    background-image: linear-gradient(to top, $color-black, transparent);
    border-radius: 10px;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__image {
    width: 100%;
  }

  &__info {
    padding: 1.5rem 3rem;
    position: absolute;
    bottom: 1.5rem;
    z-index: 100;
  }

  &__title {
    &--big {
      font-size: 2.3rem;
      color: $color-white;
    }
    &--small {
      font-size: 1.7rem;
      color: $color-white;
      font-weight: 600;
    }
  }

  &__desc {
    display: flex;
    color: $color-grey-light;
    margin-top: 1.5rem;
    font-size: 1.3rem;
  }

  &__icon {
    margin-right: 1.5rem;
  }

  @include responsive($breakpoint-tablet) {
    &--medium {
      margin-bottom: 2rem;
    }

    &__info {
      padding: 1rem 1.5rem;
    }

    &__title {
      &--big {
        font-size: 1.5rem;
      }
      &--small {
        font-size: 1rem;
      }
    }

    &__info {
      padding: 1rem 2rem;
      bottom: 0.5rem;
    }

    &__desc {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  @include responsive($breakpoint-mobile) {
    &__info {
      padding: 1.5rem 3rem;
      position: absolute;
      bottom: 1rem;
    }

    &__title {
      &--small {
        font-size: 1.5rem;
      }
    }

    &__desc {
    }
  }
}
