@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.container {
  margin: 2rem auto;
}

.content {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 0 1rem;

  &:hover .title {
    color: crimson;
  }
}

.image {
  margin-right: 1.5rem;
  width: 40%;
  border-radius: 5px;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: $color-black;

  @include lineClamp;
}

.desc {
  font-size: 1.2rem;
  color: $color-grey-dark;

  @include lineClamp;
}

@include responsive($breakpoint-tablet) {
  .row {
    margin-bottom: 0;
  }
}

@include responsive($breakpoint-mobile) {
  .container {
    padding: 0 2rem;
  }
}
