@import "../../assets/styles/variables";

.row {
  margin: 2rem auto;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  width: calc((100% - 6rem) / 4);
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 0.2rem 0.6rem $color-grey-dark;
  }

  &:hover .title {
    color: crimson;
  }
}

.image {
  margin-right: 2rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: $color-black;
}

.desc {
  font-size: 1.2rem;
  color: $color-grey-dark;
}

@media screen and (max-width: 1140px) {
  .content {
    width: calc((100% - 3rem) / 2);
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .content {
    width: 100%;
  }
}
