@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.container {
  margin: 2rem auto;
}

.content {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;

  &:hover .title {
    color: crimson;
  }
}

.image {
  margin-right: 1rem;
  width: 45%;
  border-radius: 5px;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: $color-black;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.desc {
  font-size: 1.2rem;
  color: $color-grey-dark;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@include responsive($breakpoint-tablet) {
  .row {
    margin-bottom: 0;
  }
}

@include responsive($breakpoint-mobile) {
  .container {
    padding: 0 2rem;
  }
}
