@import "../../assets/styles/variables";

.btn-box {
  margin: 5rem 0;
  display: flex;
  justify-content: center;

  &__button {
    font-weight: 600;
    font-size: 1.5rem;
    color: $color-grey-dark;
    padding: 1.5rem 2.5rem;
    background-color: $color-white;
    border: 1px solid $color-grey-light;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }
}