@import '../../assets/styles/variables';

.flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  margin-bottom: 5rem;
  cursor: pointer;
  width: calc((100% - 10rem) / 3);

  height: 37.6rem;

  &__img {
    width: 100%;
  }
  
  &__tag {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-orange;
    margin: 0.7rem 0;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem; 
    line-height: 2.8rem;   
    padding-right: 1.5rem;
  }

  &__info {
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.3rem;
  }

  &__icon {
    color: $color-grey-dark;

    &:not(:last-child){
      margin-right: 3rem;
    }
  }
}