@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.news {
  min-height: 58vh;

  &__heading {
    font-size: 2rem;
    text-align: center;
    margin: 4rem 0;
    color: $color-grey-dark;

    &-span {
      color: $color-orange;
    }
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: $color-grey-dark;
    margin: 4rem 0;
  }

  &__error-box {
    background-color: #fafafa;
    border-radius: 8px;
    margin: 4rem 0;
    padding: 2rem 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__exclamation {
    font-weight: 700;
    font-size: 10rem;
    margin-right: 6rem;
  }

  &__error-content {
    border-left: 3px solid $color-orange;
    height: 10rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__error-message {
    font-size: 2rem;

    &--orange {
      color: $color-orange;
      margin-bottom: 2rem;
    }
  }

  &__loading {
    &-message {
      font-size: 3.5rem;
      font-weight: 700;
      text-align: center;
    }
  }

  &__btn-box {
    margin: 5rem 0;
    display: flex;
    justify-content: center;

    &-button {
      text-decoration: none;
      font-weight: 600;
      font-size: 1.5rem;
      color: $color-grey-dark;
      padding: 1.5rem 2.5rem;
      background-color: $color-white;
      border: 1px solid $color-grey-light;
      border-radius: 3px;
      outline: none;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
      }
    }
  }

  &__loading {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
}

.flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  margin-bottom: 5rem;
  border-radius: 5px;
  padding: 1rem;

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
  }

  &:hover &__title {
    color: crimson;
  }

  &__img {
    width: 100%;
    border-radius: 5px;
    height: 20rem;
  }

  &__tag {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-orange;
    margin: 1rem 0;
    text-decoration: none;
  }

  &__author {
    color: indigo;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @include lineClamp;
  }

  &__title {
    color: $color-black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 2.8rem;
    padding-right: 1.5rem;

    @include lineClamp;
  }

  &__info {
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.3rem;
  }

  &__icon {
    color: $color-grey-dark;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

@include responsive($breakpoint-tablet) {
  .news-card {
    margin-bottom: 3rem;

    &__title {
      font-size: 1.7rem;
      padding-right: 1rem;
    }

    &__icon {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}

@include responsive($breakpoint-mobile) {
  .news-card {
    &__title {
      font-size: 1.8rem;
    }
  }
}
