@import "../../assets/styles/variables";

.advertising {
  height: 25rem;
  margin: 4rem auto;
  background-image: linear-gradient(to right, $color-blue-dark, $color-blue-light);
  border-radius: 1rem;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;

    &:nth-child(2) {
      margin-top: 2rem;
    }
  }

  @media screen and (max-width: 550px) {
    &__title {
      font-size: 1.8rem;

      &:nth-child(2) {
        margin-top: 2rem;
      }
    }
  }
}
