@import "./variables";
@import "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: $container;
  margin: 0 auto;
}

.divider {
  height: 0.1rem;
  width: 100%;
  background-color: $color-grey-light;
}

.flex {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col-3 {
  width: calc(25%);
  // padding: 0 1rem;
}

.col-4 {
  width: calc(100% / 3);
  padding: 0 1rem;
}

.col-6 {
  width: calc(50%);
  padding: 0 1rem;
}

.col-12 {
  width: 100%;
  padding: 0 1rem;
}

// Meadia queries
@include responsive($breakpoint-tablet) {
  .container {
    width: $container-tablet;
  }

  .col-3 {
    width: calc(50%);
  }

  .col-4 {
    width: calc(50%);
  }

  .col-6 {
    width: calc(50%);
  }

  .col-12 {
    margin-bottom: 2rem;
  }
}

@include responsive($breakpoint-mobile) {
  .container {
    width: $container-mobile;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
    margin-bottom: 2rem;
  }
}
