@import "./variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-right: 13rem;
  padding-left: 13rem;
}

@media screen and (max-width: 1140px) {
  .container {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.divider {
  height: 0.1rem;
  width: 100%;
  background-color: $color-grey-light;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
