// COLORS
$color-white: #fff;
$color-black: #000;

$color-grey-dark: rgba(#000000, 0.5);
$color-grey-light: #e1e1e1;

$color-blue-dark: #0072c5;
$color-blue-light: #80c2ff;

$color-orange: #f05a28;


// GRID SIZES
$breakpoint-tablet: 1140px;
$breakpoint-mobile: 550px;
